* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: emoji;
}
body {
  background-color: #fcf3f5 !important;
}
.imageAndName {
  margin: 5% auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-align: left;
  gap: 10%;
}
.information {
  margin-top: 5%;
}
.imageAndName h3 {
  font-size: 25px;

  color: black;
  padding-bottom: 1%;
}
.imageAndName img {
  width: 300px;
  height: 500px;
  border-radius: 4px;
}

.ruqia {
  font-size: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
}
h2 {
  font-family: emoji;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 5%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 4s steps(80, end);
  transition: all cubic-bezier(0.1, 0.7, 1, 0.1);
  color: black;
  font-weight: bold;
}
@keyframes animtext {
  from {
    width: 0;
    transition: all 2s ease-in-out;
  }
}

.contactMePage {
  margin: 5% auto;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  align-content: center;
  text-align: left;
  align-content: center;
  width: 80%;
}

.contactMePage a {
  text-decoration: none;
  color: black;
}
.contactMePage a:hover{
  text-decoration: none;
  color: brown;
}
.contact {
  width: 40%;
  margin-left: 15%;
}
.contact2 {
  width: 40%;
  margin: 10% auto;
}
.contact2 h5{
  color: black;
  font-size: 25px;
}
.educationPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin: 5% auto;
}

.skillPage {
  display: flex;
  margin: 3% auto;
  justify-content: space-evenly;
}
.projectPage {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  gap: 5%;
  margin: 5% auto;
  padding: 5% auto;
}
.projectPage2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  gap: 5%;
  margin: 5% auto;
  padding: 5% auto;
}

.projectDiscribtions {
  width: 30%;
}
.projectDiscribtions h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}
.projectDiscribtions p {
  font-size: 18px;
  letter-spacing: 1px;
}
.slider {
  width: 60%;
}
.pointer {
  color: black;
}
.projectDiscribtions a{
  color: black;
  font-size: 18px;
}
.projectDiscribtions a:hover{
  color: brown;
  text-decoration: none;
}